<div class="side-navbar">
<<<<<<< HEAD
    <h2 class="navnames" id="ecommerce-heading"> ADMIN PORTAL</h2>
=======
    <h2 class="navnames" id="ecommerce-heading"> ECOMMERCE</h2>
>>>>>>> 29aa5dbeeea7a1b161b164545c063ef0336f83e9
    <div class="typesnav">
        <div class="navnames">
            <h5><a href=""><i class="bi bi-columns-gap"></i> Dashboard</a></h5>
        </div>
        <div class="navnames">

            <h5 class="toggle-products"><a href=""><i class="bi bi-arrow-down-up"></i> Products</a></h5>

            <div class="products" id="products1">
                <h5><i class="bi bi-clipboard-data"></i> All</h5>
            </div>
            <div class="products" id="products2">
                <h5><i class="bi bi-plus-lg"></i> Create</h5>
            </div>

        </div>
        <div class="navnames">
            <h5><a href=""><i class="bi bi-journal-text"></i> Orders</a></h5>
        </div>
        <div class="navnames">
            <h5><a href=""><i class="bi bi-people"></i> Users</a></h5>
        </div>
        <div class="navnames">
            <h5><a href=""><i class="bi bi-pencil-square"></i> Reviews</a></h5>
        </div>
    </div>
</div>